* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
}
ol li,
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
html {
  display: flex;
}

body {
  width: 100%;
}
.container {
  width: 1440px;
  margin: auto;
}

#navbar-section {
  width: 100%;

  background-color: #da002b;
  display: flex;
  justify-content: space-around;
}

.navbar {
  //   background-color: #da002b;
  width: 100%;
}

.nav-btn {
  color: #da002b;
  background: white;
}
.btn-outline-danger {
  color: #fff;
  background: #000;
}
.nav-btn:hover {
  color: #fff;
  background: transparent;
  border: 1px solid white;
}
.btn-outline-light {
  text-decoration: none;
  border: none;
}

.navbar_first {
  display: flex;
  gap: 50px;
}

.navbar_second {
  display: flex;
  gap: 50px;
}
.number {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
}

.carousels {
  display: flex;
  justify-content: space-between;
}

.second_carousel {
}

#carouselExampleSlidesOnly {
  width: 600px;
}
.carousel slide {
  width: 600px;
}
